.container {
    height: 100dvh;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.logo {
    color: brown;
    font-family: 'Kanit', sans-serif;
}

.search {
    background-color: black;
    /* border: 1px solid yellow; */
    padding-bottom: 1em;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    @media screen and (min-width: 600px) {
        width: 40%;
    }
    @media screen and (min-width: 1000px) {
        width: 25%;
    }
}

.search2 {
    background-color: black;
    /* border: 1px solid yellow; */
    padding-bottom: 1em;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card-container {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (min-width: 800px){
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media screen and (min-width: 1500px) {
        grid-template-columns: repeat(5, 1fr);
    }
}



//page comes down from top has streame logo and search bar in middle