

.logo {
    color: brown;
}

.search {
    background-color: black;
    /* border: 1px solid yellow; */
    padding-bottom: 1em;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (min-width: 800px){
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media screen and (min-width: 1500px) {
        grid-template-columns: repeat(5, 1fr);
    }
}



//page comes down from top has streame logo and search bar in middle